<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppenderDebug" type="log4net.Appender.RollingFileAppender" >
    <file value="App_data/Logs/Debug/" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="false" />
    <!-- 指定按日期切分日志文件 -->
    <rollingStyle value="Date" />
    <!-- 日志文件的命名规则 -->
    <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Debug" />
      <param name="LevelMax" value="Debug" />
    </filter>
  </appender>
  <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender" >
    <file value="App_data/Logs/Info/" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="false" />
    <!-- 指定按日期切分日志文件 -->
    <rollingStyle value="Date" />
    <!-- 日志文件的命名规则 -->
    <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Info" />
      <param name="LevelMax" value="Info" />
    </filter>
  </appender>
  <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender" >
    <file value="App_data/Logs/Error/" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="false" />
    <!-- 指定按日期切分日志文件 -->
    <rollingStyle value="Date" />
    <!-- 日志文件的命名规则 -->
    <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Error" />
      <param name="LevelMax" value="Error" />
    </filter>
  </appender>
  <appender name="RollingFileAppenderFatal" type="log4net.Appender.RollingFileAppender" >
    <file value="App_data/Logs/Fatal/" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="false" />
    <!-- 指定按日期切分日志文件 -->
    <rollingStyle value="Date" />
    <!-- 日志文件的命名规则 -->
    <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Fatal" />
      <param name="LevelMax" value="Fatal" />
    </filter>
  </appender>
  <appender name="RollingFileAppenderWarn" type="log4net.Appender.RollingFileAppender" >
    <file value="App_data/Logs/Warn/" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="false" />
    <!-- 指定按日期切分日志文件 -->
    <rollingStyle value="Date" />
    <!-- 日志文件的命名规则 -->
    <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Warn" />
      <param name="LevelMax" value="Warn" />
    </filter>
  </appender>
  <root>
    <appender-ref ref="RollingFileAppenderDebug" />
    <appender-ref ref="RollingFileAppenderInfo" />
    <appender-ref ref="RollingFileAppenderFatal" />
    <appender-ref ref="RollingFileAppenderError" />
    <appender-ref ref="RollingFileAppenderWarn" />
    <level value="DEBUG" />
  </root>
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
</log4net>

